
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
DJUGL: What&#39;s new on Django 1.5 | Álex Go{,nzález}
</title>

    <link href="/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    

    
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">


    
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="//w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">
      stLight.options({publisher: "db740e9c-f490-4a3f-813a-5d257e1ea7f8", doNotHash: false, doNotCopy: false, hashAddressBar: false});
    </script>
    
  </head>

  <body>
    <div class="navbar navbar-default navbar-static-top navbar-inverse" role="navigation">
      <div class="container col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Álex Go{,nzález}</a>
        </div>
        
        <div class="navbar-collapse collapse">
          
          <ul class="nav navbar-nav">
            
            <li><a href="/archives.html">Archives</a></li>
            
            
            <li><a href="/pages/about.html">About</a></li>
            
            <li><a href="/pages/contact.html">Contact</a></li>
            
          </ul>
          
          
          <ul class="nav navbar-nav navbar-right">
            
            <li class="dropdown">
            <a href="#" data-toggle="dropdown">Categories <b class="caret"></b></a>
            <ul class="dropdown-menu">
              
              
              <li>
              <a href="/category/biz.html">biz <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/category/blog.html">blog <span class="badge pull-right">3</span></a>
              </li>
              
              
              <li>
              <a href="/category/dev.html">dev <span class="badge pull-right">6</span></a>
              </li>
              
              
              <li>
              <a href="/category/devop.html">devop <span class="badge pull-right">2</span></a>
              </li>
              
              
              <li>
              <a href="/category/gnome.html">gnome <span class="badge pull-right">2</span></a>
              </li>
              
              
              <li>
              <a href="/category/go.html">go <span class="badge pull-right">2</span></a>
              </li>
              
              
              <li>
              <a href="/category/linux.html">linux <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/category/talks.html">talks <span class="badge pull-right">10</span></a>
              </li>
              
              
              <li>
              <a href="/category/vim.html">vim <span class="badge pull-right">1</span></a>
              </li>
              
            </ul>
            </li>
            
           </ul>
          
        </div>
        
      </div>
    </div>

    <div class="container col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      
<h1>DJUGL: What&#39;s new on Django 1.5</h1>

<p>

<span class="label label-info">by Álex</span>



<span class="label label-info">2013-03-12 21:30</span>



<a class="label label-info" href="/category/talks.html">talks</a>




<a class="label label-default" href="/tag/djugl.html">djugl</a>

<a class="label label-default" href="/tag/march.html">march</a>

<a class="label label-default" href="/tag/django.html">django</a>

<a class="label label-default" href="/tag/1.5.html">1.5</a>


</p>

<p>In this talk Marc Tamlyn (<a href="https://twitter.com/mjtamlyn">@mjtamlyn</a>) was
explained to us all the changes in the new &ldquo;major&rdquo; version of django,
django 1.5.</p>

<p>As always you can find the original talks in Internet:
<a href="https://speakerdeck.com/mjtamlyn/whats-new-in-django-1-dot-5">https://speakerdeck.com/mjtamlyn/whats-new-in-django-1-dot-5</a></p>

<h2>Major changes</h2>

<ul>
<li>Pluggable user models. Which means that you will need some proxy
classes magic or similar to extend your users.</li>
<li>Python 3 support.</li>
<li>Security improvements.</li>
<li><code>StreamingHTTPResponse</code>.</li>
<li>The {% url %} tag change his behaviour. It seems that using <code>future</code>
you can had this behaviour before (1.3?) but&hellip; who use <code>future</code>? :)</li>
</ul>

<p>You can see a better explanation of this points here:</p>

<h3>Pluggable user models</h3>

<ul>
<li>Solution to schema chnages on the default user model.</li>
<li><code>AUTH_PROFILE_MODEL</code> becomes <code>AUTH_USER_MODEL</code>.</li>
</ul>

<p>This was a problem since 2014 when Django was created.</p>

<p>If you want to change something this is your first start point:
<code>auth.models.AbstractUser</code>. If you want to go one step forward:
<code>auth.models.PermissionMixin</code> &amp; <code>auth.models.AbstractBaseUse</code>.</p>

<p>You can override <code>USERNAME_FIELD</code> too, to override the standard username
field of the model.</p>

<p><code>contrib.admin</code> integration. Which I didn&rsquo;t try yet (Álex) but if it
works as they said, it should be just amazing!</p>

<h3>Python 3</h3>

<ul>
<li>3.2 and 3.3 supported, but python 2.5 was gone.</li>
<li>Not yet &ldquo;production ready&rdquo;. You will probably be ok, but it&rsquo;s up to
you to give it a chance.</li>
<li>Upgrade your third party apps! You will be able to import
compatibility apps from django that will help you using this apps.</li>
</ul>

<p><strong>Caveats</strong>: MySQL, PIL, Selenium&hellip; this all need to be migrated also
:(</p>

<p>Armin (<a href="https://twitter.com/mitsuhiko">@mitsuhiko</a>) said that PIL is
already supported o/</p>

<h3>Security</h3>

<p><code>ALLOWED_HOSTS</code> is a whitelist backported to django 1.3.x and 1.4.x but
required in 1.5.</p>

<p>You can read the django documentation about this here:
<a href="https://docs.djangoproject.com/en/dev/ref/settings/#allowed-hosts">https://docs.djangoproject.com/en/dev/ref/settings/#allowed-hosts</a></p>

<h3>StreamingHTTPResponse</h3>

<p>Fixes the handling of streaming http responses. Instead use the normal
<code>.content</code> you need to use <code>streamed_content</code> if you want to access to
the content.</p>

<h3>{% url %}</h3>

<ul>
<li>The API was wrong, it was fixed in 1.3 loading from future&hellip; but
hey, who made that? :)</li>
<li>Old style is actually gone now.</li>
</ul>

<h2>More new things</h2>

<ul>
<li>Caching of related model instances&hellip; this will transparently
improve the performance of your site a lot. It was one of the
biggest causes of delay on this new django version.</li>
<li><code>update_fields</code> is a new variable received on the save method that
allows you to know what are the fileds that has changed.</li>
<li>PostGIS 2.0 is supported now.</li>
<li><code>{% verbatim %}</code> that allows a little bit more easy javascript (for
example) development in django templates.</li>
</ul>

<h2>Backwards incompatibilities (perhaps)</h2>

<ul>
<li>Context in various class views can break.</li>
<li>Simplejson could cause incompatibilities since python 2.5 was
removed from django compatibility.</li>
<li>Session not saved on 500 errors.</li>
</ul>

<h3>Testing</h3>

<ul>
<li><code>OPTIONS</code>, <code>PUT</code> and <code>DELETE</code>.</li>
<li>DB flushing, it was move from the end of the test to the beginning
of the test.</li>
<li>Ordering of test executing changes, this shouldn&rsquo;t matter because
your test will be always non dependant, right?</li>
<li>contrib.localflavor has some changes too.</li>
<li>contrib.markup usually marked all at safe and hope for the best, now
it&rsquo;s not doing it.</li>
<li><code>django-admin.py cleanup</code> clear up the sessions, actually, now it&rsquo;s
called <code>django-admin.py clearsessions</code>.</li>
<li>depth argument to select related, to don&rsquo;t follow all the possible
joins.</li>
</ul>

<h2>Nice things you may have missed</h2>

<ul>
<li><code>LOGIN_URL</code> can be an url name now, and django will make the
<code>reverse()</code> for you.</li>
<li>True, False and None in templates.</li>
<li><code>user_login_failed</code> signal.</li>
<li><code>assertXMLEqual()</code>.</li>
<li><code>index_together</code>, create a indexes with several fields.</li>
<li>admin lists customisable by request.</li>
<li><code>django.utils.text.slugify</code> get an string in and returns an slug for
you.</li>
</ul>




<br>
<span class='st_sharethis_large' displayText='ShareThis'></span>
<span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_twitter_large' displayText='Tweet'></span>
<span class='st_linkedin_large' displayText='LinkedIn'></span>
<span class='st_googleplus_large' displayText='Google +'></span>
<span class='st_reddit_large' displayText='Reddit'></span>
<span class='st_email_large' displayText='Email'></span>





<h2>Comments</h2>
<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname = 'agonzalezro';
  
  
  var disqus_identifier = '\/djgul-whats-new-on-django-15.html';

  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>



    </div>
    
  
  <div class="container col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <div class="text-center">
      <p>
        <a href="http://github.com/agonzalezro/polo">polo</a> is made with
        <span class="glyphicon glyphicon-heart"></span> by
        <a href="http://twitter.com/agonzalezro">@agonzalezro</a>
      </p>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//getbootstrap.com/dist/js/bootstrap.min.js"></script>

    
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35984509-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  

  </body>
</html>
