
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
agonzalezro.github.io
</title>

    <link href="/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    

    
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">

  </head>

  <body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">agonzalezro.github.io</a>
        </div>
        
        <div class="navbar-collapse collapse">
          
          <ul class="nav navbar-nav">
            
            <li><a href="/archives.html">Archives</a></li>
            
            
            <li><a href="/pages/about.html">About</a></li>
            
          </ul>
          
          
          <ul class="nav navbar-nav navbar-right">
            
            <li class="dropdown">
            <a href="#" data-toggle="dropdown">Categories <b class="caret"></b></a>
            <ul class="dropdown-menu">
              
              
              <li>
              <a href="/category/blog.html">blog <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/category/dev.html">dev <span class="badge pull-right">2</span></a>
              </li>
              
              
              <li>
              <a href="/category/devop.html">devop <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/category/gnome.html">gnome <span class="badge pull-right">2</span></a>
              </li>
              
              
              <li>
              <a href="/category/go.html">go <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/category/linux.html">linux <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/category/talks.html">talks <span class="badge pull-right">9</span></a>
              </li>
              
              
              <li>
              <a href="/category/vim.html">vim <span class="badge pull-right">1</span></a>
              </li>
              
            </ul>
            </li>
            
            
            <li class="dropdown">
            <a href="#" data-toggle="dropdown">Tags <b class="caret"></b></a>
            <ul class="dropdown-menu">
              
              
              <li>
              <a href="/tag/1.5.html">1.5 <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/apache.html">apache <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/ar9285.html">ar9285 <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/ath9k.html">ath9k <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/atheros.html">atheros <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/backbone.html">backbone <span class="badge pull-right">2</span></a>
              </li>
              
              
              <li>
              <a href="/tag/bensday.html">bensday <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/best.html">best <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/carbon.html">carbon <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/celery.html">celery <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/clarity.html">clarity <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/codereview.html">codereview <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/colors.html">colors <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/desertEx.html">desertEx <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/desktop.html">desktop <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/diamond.html">diamond <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/django.html">django <span class="badge pull-right">3</span></a>
              </li>
              
              
              <li>
              <a href="/tag/djugl.html">djugl <span class="badge pull-right">3</span></a>
              </li>
              
              
              <li>
              <a href="/tag/flask.html">flask <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/friends.html">friends <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/gnome.html">gnome <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/gnome3.html">gnome3 <span class="badge pull-right">2</span></a>
              </li>
              
              
              <li>
              <a href="/tag/go.html">go <span class="badge pull-right">2</span></a>
              </li>
              
              
              <li>
              <a href="/tag/golang.html">golang <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/graphite.html">graphite <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/groningen.html">groningen <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/gui.html">gui <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/hackathon.html">hackathon <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/haproxy.html">haproxy <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/hate.html">hate <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/javascript.html">javascript <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/jelleybeans.html">jelleybeans <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/lanyrd.html">lanyrd <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/layout.html">layout <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/linux.html">linux <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/lowspeed.html">lowspeed <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/march.html">march <span class="badge pull-right">3</span></a>
              </li>
              
              
              <li>
              <a href="/tag/metaclass.html">metaclass <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/migration.html">migration <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/mongodb.html">mongodb <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/monitoring.html">monitoring <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/my-english-is-crap.html">my-english-is-crap <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/mysql.html">mysql <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/paylogic.html">paylogic <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/pelican.html">pelican <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/polo.html">polo <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/postgresql.html">postgresql <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/practices.html">practices <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/pygrunn.html">pygrunn <span class="badge pull-right">4</span></a>
              </li>
              
              
              <li>
              <a href="/tag/python.html">python <span class="badge pull-right">6</span></a>
              </li>
              
              
              <li>
              <a href="/tag/python3k.html">python3k <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/readable.html">readable <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/redis.html">redis <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/s3.html">s3 <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/scala.html">scala <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/slides.html">slides <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/solr.html">solr <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/static.html">static <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/tail.html">tail <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/talk.html">talk <span class="badge pull-right">2</span></a>
              </li>
              
              
              <li>
              <a href="/tag/theme.html">theme <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/thrift.html">thrift <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/tmux.html">tmux <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/ubuntu.html">ubuntu <span class="badge pull-right">2</span></a>
              </li>
              
              
              <li>
              <a href="/tag/undercore.html">undercore <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/unity.html">unity <span class="badge pull-right">2</span></a>
              </li>
              
              
              <li>
              <a href="/tag/varnish.html">varnish <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/wifi.html">wifi <span class="badge pull-right">1</span></a>
              </li>
              
              
              <li>
              <a href="/tag/winsterday.html">winsterday <span class="badge pull-right">1</span></a>
              </li>
              
            </ul>
            </li>
            
          </ul>
          
        </div>
        
      </div>
    </div>

    <div class="container col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      



<article>
<h1><a href="here-i-go-pygrunn13.html">Here I go PyGrunn&#39;13!</a></h1>

<p>

<span class="label label-default">by Álex</span>



<span class="label label-default">2013-04-17</span>



<a class="label label-success" href="/category/talks.html">talks</a>




<a class="label label-info" href="/tag/.html"></a>

<a class="label label-info" href="/tag/pygrunn.html">pygrunn</a>

<a class="label label-info" href="/tag/talk.html">talk</a>

<a class="label label-info" href="/tag/friends.html">friends</a>

<a class="label label-info" href="/tag/groningen.html">groningen</a>

<a class="label label-info" href="/tag/my-english-is-crap.html">my-english-is-crap</a>

<a class="label label-info" href="/tag/.html"></a>


</p>

<p>I am really proud of say that the next month I will be giving a talk at
PyGrunn!</p>

<p>This is a really good new for me because PyGrunn is the conference that
my old colleagues organize since years ago. I was on it first time in
2011 just one week after I started working at
<a href="http://paylogic.com">Paylogic</a>. I meet a lot of interesting people
there and I will see them again this year!</p>

<p>In 2012 I repeat, but at that time I had already started to organize the
&ldquo;Monthly PyGrunn&rdquo;s with <a href="http://twitter.com/_ivor">Ivor</a>. TBH that talks
were quite successful, and not for the quantity of people that we get
there, if not for the quality of them and the networking after!</p>

<p>I am really happy too because going there I will be able to see a lot of
friends that I miss! I just moved here 5 months ago but I really want to
see them!</p>

<p>Now, the less important thing: about the talk! I will be talking about
Thrift and how can we use it to talk between different applications in
different languages (in the examples: Python &amp; Scala). When PyGrunn
finish I think that I will have a video where you can see the talk (or
check my English) and I will upload the slides too!</p>

<p>Thanks to <a href="http://www.pygrunn.org">PyGrunn</a> for give me this chance!</p>

<p class="text-right"><a class="btn btn-default" href="here-i-go-pygrunn13.html#disqus_thread">Leave a comment!</a></p>
</article>
<hr>

<article>
<h1><a href="djgul-whats-new-on-django-15.html">DJUGL: What&#39;s new on Django 1.5</a></h1>

<p>

<span class="label label-default">by Álex</span>



<span class="label label-default">2013-03-12 21:30</span>



<a class="label label-success" href="/category/talks.html">talks</a>




<a class="label label-info" href="/tag/.html"></a>

<a class="label label-info" href="/tag/djugl.html">djugl</a>

<a class="label label-info" href="/tag/march.html">march</a>

<a class="label label-info" href="/tag/django.html">django</a>

<a class="label label-info" href="/tag/1.5.html">1.5</a>

<a class="label label-info" href="/tag/.html"></a>


</p>

<p>In this talk Marc Tamlyn (<a href="https://twitter.com/mjtamlyn">@mjtamlyn</a>) was
explained to us all the changes in the new &ldquo;major&rdquo; version of django,
django 1.5.</p>

<p>As always you can find the original talks in Internet:
<a href="https://speakerdeck.com/mjtamlyn/whats-new-in-django-1-dot-5">https://speakerdeck.com/mjtamlyn/whats-new-in-django-1-dot-5</a></p>

<h2>Major changes</h2>

<ul>
<li>Pluggable user models. Which means that you will need some proxy
classes magic or similar to extend your users.</li>
<li>Python 3 support.</li>
<li>Security improvements.</li>
<li><code>StreamingHTTPResponse</code>.</li>
<li>The {% url %} tag change his behaviour. It seems that using <code>future</code>
you can had this behaviour before (1.3?) but&hellip; who use <code>future</code>? :)</li>
</ul>

<p>You can see a better explanation of this points here:</p>

<h3>Pluggable user models</h3>

<ul>
<li>Solution to schema chnages on the default user model.</li>
<li><code>AUTH_PROFILE_MODEL</code> becomes <code>AUTH_USER_MODEL</code>.</li>
</ul>

<p>This was a problem since 2014 when Django was created.</p>

<p>If you want to change something this is your first start point:
<code>auth.models.AbstractUser</code>. If you want to go one step forward:
<code>auth.models.PermissionMixin</code> &amp; <code>auth.models.AbstractBaseUse</code>.</p>

<p>You can override <code>USERNAME_FIELD</code> too, to override the standard username
field of the model.</p>

<p><code>contrib.admin</code> integration. Which I didn&rsquo;t try yet (Álex) but if it
works as they said, it should be just amazing!</p>

<h3>Python 3</h3>

<ul>
<li>3.2 and 3.3 supported, but python 2.5 was gone.</li>
<li>Not yet &ldquo;production ready&rdquo;. You will probably be ok, but it&rsquo;s up to
you to give it a chance.</li>
<li>Upgrade your third party apps! You will be able to import
compatibility apps from django that will help you using this apps.</li>
</ul>

<p><strong>Caveats</strong>: MySQL, PIL, Selenium&hellip; this all need to be migrated also
:(</p>

<p>Armin (<a href="https://twitter.com/mitsuhiko">@mitsuhiko</a>) said that PIL is
already supported o/</p>

<h3>Security</h3>

<p><code>ALLOWED_HOSTS</code> is a whitelist backported to django 1.3.x and 1.4.x but
required in 1.5.</p>

<p>You can read the django documentation about this here:
<a href="https://docs.djangoproject.com/en/dev/ref/settings/#allowed-hosts">https://docs.djangoproject.com/en/dev/ref/settings/#allowed-hosts</a></p>

<h3>StreamingHTTPResponse</h3>

<p>Fixes the handling of streaming http responses. Instead use the normal
<code>.content</code> you need to use <code>streamed_content</code> if you want to access to
the content.</p>

<h3>{% url %}</h3>

<ul>
<li>The API was wrong, it was fixed in 1.3 loading from future&hellip; but
hey, who made that? :)</li>
<li>Old style is actually gone now.</li>
</ul>

<h2>More new things</h2>

<ul>
<li>Caching of related model instances&hellip; this will transparently
improve the performance of your site a lot. It was one of the
biggest causes of delay on this new django version.</li>
<li><code>update_fields</code> is a new variable received on the save method that
allows you to know what are the fileds that has changed.</li>
<li>PostGIS 2.0 is supported now.</li>
<li><code>{% verbatim %}</code> that allows a little bit more easy javascript (for
example) development in django templates.</li>
</ul>

<h2>Backwards incompatibilities (perhaps)</h2>

<ul>
<li>Context in various class views can break.</li>
<li>Simplejson could cause incompatibilities since python 2.5 was
removed from django compatibility.</li>
<li>Session not saved on 500 errors.</li>
</ul>

<h3>Testing</h3>

<ul>
<li><code>OPTIONS</code>, <code>PUT</code> and <code>DELETE</code>.</li>
<li>DB flushing, it was move from the end of the test to the beginning
of the test.</li>
<li>Ordering of test executing changes, this shouldn&rsquo;t matter because
your test will be always non dependant, right?</li>
<li>contrib.localflavor has some changes too.</li>
<li>contrib.markup usually marked all at safe and hope for the best, now
it&rsquo;s not doing it.</li>
<li><code>django-admin.py cleanup</code> clear up the sessions, actually, now it&rsquo;s
called <code>django-admin.py clearsessions</code>.</li>
<li>depth argument to select related, to don&rsquo;t follow all the possible
joins.</li>
</ul>

<h2>Nice things you may have missed</h2>

<ul>
<li><code>LOGIN_URL</code> can be an url name now, and django will make the
<code>reverse()</code> for you.</li>
<li>True, False and None in templates.</li>
<li><code>user_login_failed</code> signal.</li>
<li><code>assertXMLEqual()</code>.</li>
<li><code>index_together</code>, create a indexes with several fields.</li>
<li>admin lists customisable by request.</li>
<li><code>django.utils.text.slugify</code> get an string in and returns an slug for
you.</li>
</ul>

<p class="text-right"><a class="btn btn-default" href="djgul-whats-new-on-django-15.html#disqus_thread">Leave a comment!</a></p>
</article>
<hr>

<article>
<h1><a href="djugl-inside-lanyrd-architecture.html">DJUGL: Inside Lanyrd architecture</a></h1>

<p>

<span class="label label-default">by Álex</span>



<span class="label label-default">2013-03-12 20:30</span>



<a class="label label-success" href="/category/talks.html">talks</a>




<a class="label label-info" href="/tag/.html"></a>

<a class="label label-info" href="/tag/djugl.html">djugl</a>

<a class="label label-info" href="/tag/march.html">march</a>

<a class="label label-info" href="/tag/lanyrd.html">lanyrd</a>

<a class="label label-info" href="/tag/django.html">django</a>

<a class="label label-info" href="/tag/solr.html">solr</a>

<a class="label label-info" href="/tag/celery.html">celery</a>

<a class="label label-info" href="/tag/postgresql.html">postgresql</a>

<a class="label label-info" href="/tag/redis.html">redis</a>

<a class="label label-info" href="/tag/mongodb.html">mongodb</a>

<a class="label label-info" href="/tag/mysql.html">mysql</a>

<a class="label label-info" href="/tag/varnish.html">varnish</a>

<a class="label label-info" href="/tag/haproxy.html">haproxy</a>

<a class="label label-info" href="/tag/s3.html">s3</a>

<a class="label label-info" href="/tag/.html"></a>


</p>

<p>This talk was just amazing! Andrew Godwin
(<a href="http://twitter.com/andrewgodwin">@andrewgodwin</a> or <a href="http://areacode.org">http://areacode.org</a>) gave
us talk about the internal architecture that they are using at
<a href="http://lanyrd.com">lanyrd.com</a>.</p>

<p>I would say 2 things:</p>

<ul>
<li>Even before that talk I was using lanyrd, it&rsquo;s a really good service
if you are organizing some kind of event.</li>
<li>At <a href="http://greenmangaming.com">GreenManGaming</a> we are using a very
similar infrastructure, which I think that means that when 2
different companies without any relation are sharing so many layers,
it should be good!</li>
</ul>

<p>After this lines you will fine almost a C&amp;P of the Andrew slide that you
can find here: <a href="https://speakerdeck.com/andrewgodwin/inside-lanyrds-architecture">https://speakerdeck.com/andrewgodwin/inside-lanyrds-architecture</a>, but
there are some additional notes added by me.</p>

<h2>The Origin Story</h2>

<p>They launch in Aug&rsquo;10 and after half an hour going down because the load
was too high</p>

<p>In Sep&rsquo;11 they got some inversion that allows them to start with the
curren architecture.</p>

<p>The ecosystem that they need to take care of:</p>

<ul>
<li>conferences</li>
<li>profile pages</li>
<li>emails</li>
<li>dashboard</li>
<li>coverage</li>
<li>topics</li>
<li>guides</li>
<li>mobile app</li>
<li>&hellip;</li>
</ul>

<p>And all this with just 6 technical guys! That know this:</p>

<ul>
<li>You don&rsquo;t need a big team to write a complex product.</li>
<li>Communication is absolutely key.</li>
<li>Using Open Source well is also crucial.</li>
</ul>

<h2>What they run on</h2>

<p>Almost all the site is written in django with some spices:</p>

<ul>
<li>celery for the background tasks.</li>
<li>management cron jobs.</li>
<li>served by Gunicorn containers.</li>
</ul>

<p>The main services that you can find on, are this:</p>

<h3>PostreSQL</h3>

<ul>
<li>main data store for everythin except upload master &amp; replicated
around 80G in 5 DBs each server run in RAID1</li>
</ul>

<h3>Redis</h3>

<ul>
<li>Task queue transport for Celery and tweet listeners,</li>
<li>Contains user sets for every conference, user and topic.</li>
<li>Used for efficient narrowing of queries before Solr is hit,</li>
</ul>

<h3>Solr</h3>

<ul>
<li>Stores conferences, users, sessions and more&hellip;</li>
<li>Very rich metada on each item.</li>
<li>Heavy use of sharding throughout the site.</li>
<li>They run Solr in master and replicated slave.</li>
</ul>

<h3>Varnish</h3>

<ul>
<li>First point of call for all requests.</li>
<li>Caches most anonymous requests.</li>
<li>Enforces read-only mode if enabled.</li>
<li>One used an one hot spare at all times.</li>
</ul>

<h3>HAProxy</h3>

<ul>
<li>Sits behind Varnish.</li>
<li>Distributes load amongst frontend servers.</li>
<li>Re-routes request during deploys.</li>
<li>They always have 2 up identically configured.</li>
</ul>

<h3>S3</h3>

<ul>
<li>Stores all uploaded files from users.</li>
<li>Uploads forms post directly to S3.</li>
<li>Servers all static assets for the site (images, Css, JS).</li>
<li>Static assets are versioned with hash to help cache break.</li>
</ul>

<h2>What they have eliminated</h2>

<p>It&rsquo;s a shame because I am reading it in several places, but it seems
that after the hype a lot of companies are eliminating MongoDB from
their backends.</p>

<h3>MongoDB</h3>

<ul>
<li>Stored analytics, logs and some other data.</li>
<li>Lack of schema meant some bad data persisted. poor complex query
performance.</li>
</ul>

<p>Nevertheless they think that it&rsquo;s a really useful tool for quick
prototyping.</p>

<h3>MySQL</h3>

<ul>
<li>Primary data store for things that where not stored in MongoDB.</li>
<li>Very poor complex query performance.</li>
<li>No advances field types.</li>
<li>Full database locks during schema changes.</li>
</ul>

<h2>The great move of 2012</h2>

<p>They move from EC2 to Softlayer basically because it&rsquo;s real hardware, if
something fail, just change it). From MySQL to PostgreSQL for the
reasons that he explained before.</p>

<h3>Why?</h3>

<p>It seems that lanyrd has a very predictable traffic, they can know
months in advanced what is the expected load.</p>

<h3>How</h3>

<p>Both moves required database downtime, couple of tables were really big,
any change on that table means around 20-30min of downtime.</p>

<ol>
<li>Replicate Solr and Redis across to new servers.</li>
<li>Enter RO mode.</li>
<li>Dump MySQL data.</li>
<li>Convert MySQL dump into PostgreSQL dump.</li>
<li>Load PostgresSQL dump.</li>
<li>Re-point DNS, proxy request from old server.</li>
<li>Exit RO mode.</li>
</ol>

<p>After all this process they can say that they have been 1 hour and a
half in Read Only mode but without any downtime at all.</p>

<p>From their experience, the advantages of have a content site are that
the RO mode is completely viable. They logged out all the people from
the site and in the mean time Varnish was blocking all the POST request
&amp; cache aggressively.</p>

<h2>Always be deploying</h2>

<ul>
<li>They deploy at least 5 times a day, if not 20.</li>
<li>Nearly all code goes into master or short-lived branches.</li>
<li>Anything released is feature flagged.

<ul>
<li>simple named boolean toggles.</li>
<li>settable by user, user tag, or conference.</li>
<li>can change templates, view code, URLs, etc&hellip;</li>
</ul></li>
</ul>

<p>Just a quick note: if you had never used this feature you should try
something like <a href="https://github.com/disqus/gargoyle">gargoyle</a>. It&rsquo;s just
amazing to deploy some functionalities to just some of your users. I
don&rsquo;t know what they are using, but if it&rsquo;s not this, it should be
something similar.</p>

<h2>Legacy code &amp; decisions</h2>

<ul>
<li>It&rsquo;s fine to have some legacy code. It can speed thing ups.</li>
<li>A good chunk of their legacy code is gone, some remains (I would say
like in all the big projects :D).</li>
<li>Big schema change get harder and harder.</li>
</ul>

<p>Awareness (every ppl know what is going on) &amp; always deployable (master
branch always shippable).</p>

<h2>Small and nimble</h2>

<ul>
<li>Continue deployment and development style allows easy project
changing</li>
<li>No long approval processes.</li>
</ul>

<h2>Fix it while you can</h2>

<ul>
<li>The bigger you get, the harder a fix.</li>
<li>They moved to PostgreSQL just in time.</li>
<li>Big schema changes now take days of coding.</li>
</ul>

<p class="text-right"><a class="btn btn-default" href="djugl-inside-lanyrd-architecture.html#disqus_thread">Leave a comment!</a></p>
</article>
<hr>

<article>
<h1><a href="djugl-advanced-python-trought-django-metaclasses.html">DJUGL: Advanced python trought Django: Metaclasses</a></h1>

<p>

<span class="label label-default">by Álex</span>



<span class="label label-default">2013-03-12 20:00</span>



<a class="label label-success" href="/category/talks.html">talks</a>




<a class="label label-info" href="/tag/.html"></a>

<a class="label label-info" href="/tag/djugl.html">djugl</a>

<a class="label label-info" href="/tag/march.html">march</a>

<a class="label label-info" href="/tag/django.html">django</a>

<a class="label label-info" href="/tag/python.html">python</a>

<a class="label label-info" href="/tag/metaclass.html">metaclass</a>

<a class="label label-info" href="/tag/.html"></a>


</p>

<p>This talk was made by Peter Ingles, you can check his twitter here:
<a href="http://twitter.com/inglesp">@inglesp</a>.</p>

<p>What is write above is basically what he said, mixed with some of my
thoughts. The talk was really good, and even using metaclasses almost
daily (<code>forms.Form</code>) you don&rsquo;t feel the power of them until somebody
explain it to you (shame on me!).</p>

<p>In all the Peter example we was using Django 1.4.</p>

<p>The typical example as I said before is <code>forms.Form</code> from django.</p>

<p>For some reason, Peter was in love with the Ponies, so, he tried to
create some meta stable:</p>

<pre><code class="python">class A(models.Model):
    class Meta:
        app_label = 'ponies'
        abstract = True

class Stable(models.Models):
    class Meta:
        app_label = 'ponies'
    name = models.CharField()
    stable = models.ForeignKey(Stable)
</code></pre>

<h2>Create classes dinamycally:</h2>

<pre><code class="python">def init(self, x):
    self.x =x

name = 'ExampleClass'
bases = (object, )
attrs = {
    '__init__': init
}
instance = type(name, bases, attrs)
</code></pre>

<p>This is a pretty coold way to create classes at runtime.</p>

<h2>type</h2>

<p>I don&rsquo;t know you, but I was always using <code>type</code> just for the type
comparation, but never for create classes&hellip;</p>

<p>Some &ldquo;strange&rdquo; (puzzling) things about <code>type</code> is that <code>type</code> is a class
of type type:</p>

<pre><code class="python">type(type)
&lt;type 'type'&gt;
</code></pre>

<p>And we can subclass <code>type</code>:</p>

<pre><code class="python">class A(type):
    pass
</code></pre>

<h2>Python 3</h2>

<p>The syntax to create a metaclass is sightly different:</p>

<pre><code class="python">class Form(metaclass=Formtype):
    ...
</code></pre>

<h2>Key takeaways</h2>

<ul>
<li>classes are factories for creating objects.</li>
<li>we can create classes dynamically at runtime.</li>
<li>metaclasses are factories for creating classes.</li>
<li>we can control what happens when we create classes</li>
</ul>

<h2>The slides</h2>

<p>You can find the interactive talk of Peter in his github account:
<a href="http://github.com/inglesp/prescons">http://github.com/inglesp/prescons</a></p>

<p>Enjoy them!</p>

<p class="text-right"><a class="btn btn-default" href="djugl-advanced-python-trought-django-metaclasses.html#disqus_thread">Leave a comment!</a></p>
</article>
<hr>





<div class="text-center"><ul class="pagination">

    <li class="
    
    ">
    <a href="/index.html">&laquo;</a>
    </li>

    
    <li >
    <a href="/index.html">
      1
    </a>
    </li>
    
    <li class="active">
    <a href="/index2.html">
      2
    </a>
    </li>
    
    <li >
    <a href="/index3.html">
      3
    </a>
    </li>
    
    <li >
    <a href="/index4.html">
      4
    </a>
    </li>
     

    <li class="
    
    ">
    <a href="/index3.html">&raquo;</a>
    </li>

</ul></div>
 

    </div>
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>

    
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35984509-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  

  </body>
</html>
