h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

p, ul li, ol li {
  font-size: 1.1em;
}

li li, li li li, li li li li {
  font-size: 1em;
}

a.label.label-info:before {
  content: '#';
}
