{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
    {% for article in articles_page.object_list %}


        {# First item #}
            <aside id="featured" class="body">
                <article>
                    <h1 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
                    {% include 'article_infos.html' %}{{ article.content }}{% include 'comments.html' %}
                </article>
                {% if loop.length == 1 %}
                    {% include 'pagination.html' %}
                {% endif %}
            </aside><!-- /#featured -->
            {% if loop.length > 1 %}
                <section id="content" class="body">
                    <hr />
            {% endif %}
        {# other items #}
        {% if loop.last %}
            {% if loop.last and (articles_page.has_previous()
            or not articles_page.has_previous() and loop.length > 1) %}
                {% include 'pagination.html' %}
            {% endif %}
            </section><!-- /#content -->
        {% endif %}
    {% endfor %}
{% else %}
<section id="content" class="body">
<h2>Pages</h2>
    {% for page in PAGES %}
        <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
</section>
{% endif %}
{% endblock content %}
