{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
  {% for article in articles_page.object_list %}
    <section id="{{ article.id }}">
    <div class="page-header">
      <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
      <a class="label label-info" href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
    </div>
    {{ article.content }}
    <strong>
      {% include 'comments.html' %}
    </strong>
    </section>

    {% if loop.last %}
      {% if loop.last and (articles_page.has_previous()
      or not articles_page.has_previous() and loop.length > 1) %}
      {% include 'pagination.html' %}
    {% endif %}
    {% endif %}

  {% endfor %}
{% else %}
{% endif %}
{% endblock content %}
